<% if user_signed_in? && current_user.is_admin %>
<h1>Tags index</h1>
<table>
<% @alltags.each do |tag| %>
<tr>
<td><%= tag.name %></td>
<td><%= tag.id %></td>
</tr>
<% end %>
</table>

<% else %>
<p>You are not authorized to view this page</p>
<% end %>