/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

/* MAIN NAV */
.main-nav{
    background-color: rgb(83, 240, 217);
    height: 80px;
    line-height: 80px;
}

.main-nav__ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-nav__li {
    list-style: none;
}
    
.main-nav__li > a{
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}

.main-nav__li > a:hover{
    text-decoration: underline;
    color: rgb(7, 182, 156);
    font-size: 1.5vw;
}



/* SHOW PAGE */
.header-div__img {
    box-sizing: border-box;
    width: 200px !important;
    height: 200px !important;
    border:3px solid #ccc;
    border-radius: 50%;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.basic-info {
    flex-direction: column;
}
