/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 
GOOGLE FONTS 
font-family: 'Pacifico', cursive;
font-family: 'Lobster', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Rochester', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Norican', cursive; 
*/

body{
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: black;
    position: fixed;
    top: 0;
    height: 100%;
    margin-top: 0;
    line-height: 100px;
    box-shadow: 0px 0px 10px 4px grey;
}

.header__img{
    width: 90px;
    height: 92px;
}

.header__name{
    display: inline;
    padding-bottom: 0;
    margin: 0px 3vw;
    color: pink;
    text-shadow: 2px 2px 3px rgb(230, 16, 91);
    font-family: 'Rochester', cursive; 
    font-weight: normal;
    font-size: 4vw;
}

/* MAIN NAV */
.main-nav{
    margin-top: 0;
}

.main-nav__ul {
    margin-top: 0;
    display: flex;
    /* align-self: right; */
    flex-direction: column;
    justify-content: space-evenly;
}

.main-nav__li {
    list-style: none;
    padding: 0;
    margin: 0;
}
    
.main-nav__li > a{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-variant: small-caps;
}

.main-nav__li > a:hover{
    text-decoration: underline;
    color: pink;
    text-shadow: 2px 2px 3px rgb(230, 16, 91);
    }



/* SHOW PAGE */
.header-div__img {
    width: 200px !important;
    height: 200px !important;
    border:3px solid #ccc;
    border-radius: 50%;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.basic-info {
    flex-direction: column;
}


/* INDEX PAGE */
.all-stores-div{
    margin: 15px 8vw;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start
}

.store-div{
    padding: 35px;
    margin: 15px;
    box-shadow: 0px 0px 2px 3px rgb(203, 203, 203);
}

.store-div__img {
    width: 200px !important;
    height: 200px !important;
    margin-bottom: 8px;
    border:1px solid rgb(230, 16, 91);
    border-radius: 50%;
}

.store-div__title > a{
    text-decoration: none;
    color: black;
}

.store-div__title > a:hover{
    text-decoration: none;
    color: rgb(230, 16, 91);
}

.store-div__headline {
    display: inline-block;
    width: 160px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 0;
}