<div class="all-stores-div">
<% @stores.each do |store| %>
  <a class="store-div" href=<%= "/stores/#{store.id}" %>>
    <img class="store-div__img" src="<%= store.images %>" alt="">
    <h2 class="store-div__title"><%= store.name %></h2>
    <p class="store-div__headline"><%= store.headline %></p>
  </a>
<% end %>
</div>